@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600&display=swap");
@import "tailwindcss";

:root {
  color-scheme: dark;
  background-color: #0e0f17;
  font-family: 'Fira Sans', sans-serif;
  scroll-behavior: smooth;
}

@theme {
  --color-dark-gray: #0e0f17;
  --color-light-gray: #d9dfe5;
  --color-gray: #a5aaae;
  --color-github-gray: #18191a;
  --color-blue-gray: #444760;
}