.markdown {
    h1 {
        font-size: xx-large;
        font-weight: 500;
    }

    h2 {
        font-size: x-large;
        font-weight: 500;
    }

    h3 {
        font-size: large;
        font-weight: 400;
    }
     
    ul {
        list-style-type: circle;
        list-style-position: inside;
    }
}